<h1>Bookmarks#new</h1>
<p>Find me in app/views/bookmarks/new.html.erb</p>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, :as => :select %>
  <%= f.input :comment, hint: 'Must be greater than 6 characters long', error: 'A comment is required' %>
  <%= f.button :submit %>
<% end %>
